body {
    background-color: #333333;
    margin: 0;
    font-family: 'Anton', sans-serif;
}

header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #f5f5dc;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.title {
    text-align: center;
    margin: 100px 0;
}

.title h1 {
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
    color: #f5f5dc;
    margin: 0;
}

.title.caption {
    font-size: 2rem;
    color: #f5f5dc;
    margin-top: 10px;
    font-weight: normal;
}