body {
    background-color: #333333;
    margin: 0;
    font-family: 'Anton', sans-serif;
}

header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #f5f5dc;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

.title {
    text-align: center;
    margin: 100px 0;
}

.title h1 {
    font-family: 'Anton', sans-serif;
    font-size: 5rem;
    color: #f5f5dc;
    margin: 0;
}

.title.caption {
    font-size: 2rem;
    color: #f5f5dc;
    margin-top: 10px;
    font-weight: normal;
}

#projects {
    text-align: center;
    margin: 100px 0;
}

#projects h2 {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    color: #f5f5dc;
    margin-bottom: 20px;
}

#projects ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    transition: transform 0.3s;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item i {
    font-size: 3rem;
    color: #f5f5dc;
    margin-bottom: 10px;
}

.project-item a {
    font-size: 1.5rem;
    color: #f5f5dc;
    text-decoration: none;
}

.project-item a:hover {
    text-decoration: underline;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 100px 0;
}

.about-me h2 {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    color: #f5f5dc;
    margin-bottom: 20px;
    width: 100%;
}

.about-image {
    max-width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 0;
    border: 4px solid #f5f5dc;
}

.about-me p {
    font-size: 1.2rem;
    color: #f5f5dc;
    line-height: 1.6;
    margin: 0;
    max-width: 500px;
    text-align: center;
}

footer {
    background-color: #007bff;
    color: #f5f5dc;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1.5rem;
}